.subs{
  padding: 54px 0 50px;
  height: 100%;
  flex-grow: 1;
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
}

.subs__box{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.subs__title{
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
}

.subs__form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 37px;
  overflow: hidden;
  position: relative;
}

.subs__label{
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}

.subs__label:last-of-type{
  border-bottom: none;
  margin-top: 6px;
}

.subs__input{
  border: none;
  /*width: 100%;*/
  background-color: transparent;
  text-align: end;
  padding: 18px 0;
  font-style: inherit;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  flex-grow: 1;
  /*margin-left: -50px;*/
  /*overflow: visible;*/
  box-sizing: border-box;
}


.subs__btn{
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.23;
}

.subs__btn_type_submit{
  margin-bottom: 6px;
  margin-top: 25px;
  height: 45px;
  color:#fff;
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
}

.subs__btn_type_submit:disabled{
  opacity: .2;
  cursor: default;
}

.subs__btn_type_redact{
  margin-bottom: 16px;
}

.subs__btn_type_logout{
  color: #EE3465;
  font-weight: 500;
}

/*.profile__link{*/
/*  color: #FF4062;*/
/*  font-weight: 500;*/
/*}*/

.subs__error{
  color: #EE3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  position: absolute;
  top: 50px;
  left: 0;
}

.subs__input:focus{
  outline: none;
  border-bottom: 1px solid #000;
}

.subs__input:invalid{
  color: #EE3465;
  border-bottom: 1px solid #EE3465;
}
.subs__list-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.subs-list{


}